#container {
    max-width: 1366px; 
    margin: auto;
}

#intro {
    background: url(../assets/Background_Intro.png) no-repeat ; 
    background-size: cover; 
    max-width: 1366px;   
    height: 750px;
    margin: auto;

    #vector {
        background: url(../assets/icons/CaretDoubleDown.svg) no-repeat; 
        width: 32px;
        height: 32px;
        padding-bottom: 57px;  
        margin-inline: 667px; 
        margin-top: 94px;  
    }

    .info { 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 120px 163px 0px;
        max-width: 1040px;  
        margin: auto;

        .icons {
            display: flex;
            flex-direction: row; 
            width: 754px;
            height: 40px;
            gap: 16px;  

            div { 
                display: flex;
                justify-content: center; 
                align-items: center;   
                background-color: var(--gray-300);
                border-radius: 999px; 
                gap: 8px;  
                padding: 8px 16px;   

                img {
                    width: 24px;
                } 
    
                p {
                    margin-bottom: 1px;
                }
                &:nth-child(1) {
                    width: 114px;   
                } 
                
                &:nth-child(2) {
                    width: 105px;
                    img {
                        width: 15.98px; 
                        height: 18px;  
                    }  
                }

                &:nth-child(3) {
                    width: 92px; 
                }

                &:nth-child(4) {
                    width: 138px;
                    img {
                        width: 19.5px; 
                        height: 13.63px;  
                    } 
                }

                &:nth-child(5) {
                    width: 106px;
                    img {
                        width: 19.5px; 
                        height: 17.13px;  
                    } 
                }

                &:nth-child(6) {
                    width: 119px;
                    img {
                        width: 17.26px; 
                        height: 19.5px;  
                    } 
                }
                
            }

        }
    }
    
    header {   
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: auto 180px;
        margin-bottom: 80px;
        width: 680px; 
        #avatar {
            position: relative; 
            max-width: 112px;
            height: 112px;
            padding: 8px; 
            

            img:nth-child(1)  {  
                display: flex;
                flex-direction: column; 
                margin: auto; 
                width: 96px;
                height: 96px; 
                margin-bottom: 56px;  
                
            }
            img:nth-child(2) { 
                width: 32px;  
                height: 32px; 
                margin: 6px;
                margin-block: 3.5px;
        
                position: absolute;
                top : 70px;
                left: 70px; 
                z-index: auto;
        
            }
         
        }
        h3 {
            margin-top:  56px; 
            text-align: center;
            width: 680px; 
        } 
        h1 { 
            text-align: center; 
            width: 680px; 
        } 
        p {
            margin-top: 20px;
            text-align: center; 
            width: 680px;
        }
        
    }
}
#projects {  
    max-width: 1366px;
    height: 917px;
    background-color: var(--gray-200);
    padding: 72px 120px 144px; 
    margin: auto;

    h2 {
        margin-bottom: 56px;
    }
     
    figure  {   
        max-width: 1040px;
        height: 584px; 

        grid-template-columns: repeat(3, 330px);
        grid-template-rows: repeat(3, 280px);
        gap: 24px; 
        margin: auto;
         

        figcaption { 
            background-color: var(--gray-300);
            border-radius: 12px; 
            margin-inline: auto;

            img {
                width: 306px;
                height: 156px; 
                border-radius: 8px;   
                margin: 12px 12px auto;
                
            }
             
            .contentCard {  
                width: 306px;
                height: 75px;  
                margin: 20px 12px 12px;  

               p {
                margin-top: 8px; 
            }

            }
        }
        figcaption:hover {
            border: 1px solid var(--gray-400);  
        }
        
    }  
}
.services {
    
    max-width: 1366px;
    height: 480px;
    padding: 88px 120px 120px;  
    margin: auto;   
    background-color: #0D0E11;

    figure { 
        width: 888px;
        height: 155px;
        grid-template-columns: repeat(3, 280px);
        grid-template-rows: repeat(3, 155px); 
        gap: 24px;  
        margin: auto;

        figcaption {  
            width: 280px;
            height: 155px;
            padding: 20px;
            border: 1px solid var(--gray-200);  
            border-radius: 12px;
            
            img { 
                width: 48px;
                height: 48px;  
            } 

            header { 
                width: 240px;
                height: 47px; 
                margin-top: 20px;
            }

 
        }
    }
     
}
#contact {
    background: url(../assets/Background_Contacts.png) no-repeat;
    background-size: cover;  
    max-width: 1366px;
    height: 787px;
    padding: 128px 120px 200px;
    margin: auto;
    font: inherit;

        header {
            width: 420px;
            height: 91px;
            margin: auto; 
        }
        h3 {
            color: var(--purple);
            padding: 8px; 
        }


        p {
            text-align: center;
            padding-top: 8px; 
            font: inherit;
        }

        #links { 
            display: flex; 
            flex-direction: column;
            justify-content: center;  
            gap: 16px;
            width: 400px;
            height: 320px; 
            margin:48px auto 0px;  
             
            .icons {
                width: 400px;
                height: 68px;    
                border-radius: 8px;
                display: flex; 
                gap: 12px; 
                margin: auto;
                align-items: center; 
                background-color: var(--gray-300); 
            }
            #linkedin {
                    
                color: var(--gray-400);   
                display: flex;
                align-items: center;
                width: 28px;
                height: 28px;
                margin: 20px; 
                background: url(../assets/icons/LinkedinLogo.svg) no-repeat; 
            } 

            #instagram { 
                color: var(--gray-400);   
                display: flex;
                align-items: center;
                width: 28px;
                height: 28px;
                margin: 20px; 
                background: url(../assets/icons/InstagramLogo.svg) no-repeat;
            }

            #gitHub {
                color: var(--gray-400);   
                display: flex;
                align-items: center;
                width: 28px;
                height: 28px;
                margin: 20px; 
                background: url(../assets/icons/GithubLogo.svg) no-repeat;
            }

            #e-mail {
                color: var(--gray-400);   
                display: flex;
                align-items: center;
                width: 28px;
                height: 28px;
                margin: 20px; 
                background: url(../assets/icons/EnvelopeSimple.svg) no-repeat;
            }



            p { 
                    color: inherit; 
                    width: 288px;
                    height: 22px;
                    line-height: 140%;
                    margin-block: 23;  
                    display: flex;
                    flex-direction: column; 
                    justify-content: center; 
                    align-items:start; 
                    padding: 1px;  
            }
            .seta{ 
                margin: 24px 20px 24px auto; 
                display: flex; 
                
            img {
                width: 11.25px;
                height: 11.25px;
                margin: 4.37px 4.38px 4.37px 4.37px; 
                    
            }
        } 

        .icons:hover {
            border: 1px solid var(--blue);
            display: flex;
            align-items: center;
  
            
            #linkedin{ 
                background: url(../assets/icons/LinkedinLogo-hover.svg) no-repeat; 
                
                width: 28px;
                height: 28px;
                margin: 20px;
            }  

            #instagram {  
                background: url(../assets/icons/InstagramLogo-hover.svg) no-repeat; 
                
                width: 28px;
                height: 28px;
                margin: 20px;
            }

            #gitHub {
                background: url(../assets/icons/GithubLogo-hover.svg) no-repeat; 
                
                width: 28px;
                height: 28px;
                margin: 20px;
            }

            #e-mail {
                background: url(../assets/icons/EnvelopeSimple-hover.svg) no-repeat; 
                
                width: 28px;
                height: 28px;
                margin: 20px;
            }


            
        }
        
        
    }  
}